<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TelegramApiToken" value="777350515:AAHapG92uCZO5J7nEmq3d2b4lhzn-0Sh8u0"/>
  </appSettings>
</configuration>